<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Live Server</h1>

    <input type="text" id="search-box" onkeyup="sendData(this)">
    <section id="searchResults">

    </section>


    <script>
        function sendData(e) {
            const searchResults = document.getElementById('searchResults')
            let match = e.value.match(/^[a-zA-Z 0-9]*/)
            let match2 = e.value.match(/\s*/)
            if (match2[0] === e.value) {
                searchResults.innerHTML = ''
                return
            }
            if (match[0] === e.value) {
                fetch('getData', {
                method: 'POST',
                headers: {'content-type':'application/json'},
                body: JSON.stringify({payload: e.value})
            }).then(res => res.json())
            .then(data => {
                let payload = data.payload
                searchResults.innerHTML = ''
                if(payload.length < 1) {
                    searchResults.innerHTML = "<p>Sorry.Nothing Found.</p>"
                    return
                }
                payload.forEach((item,index) => {
                    if (index>0) {
                        searchResults.innerHTML += '<hr>' 
                    }
                    searchResults.innerHTML += `<p>${item.Nom}</p>`
                });
            })
            return
        }
        searchResults.innerHTML = ''
        }
    </script>
</body>
</html>